@charset "utf-8";
* { margin:0px; padding:0px; }
ul, ul li, li { list-style:none; }
body { font-family:Arial, Helvetica, sans-serif; background:#e5e6e7; }

.center-frame {width:1004px; margin:0px auto;}
#header { background:#FFFFFF; position:relative; min-height:95px; }
#header .red-side { background:#dd3624 url("../images/red-top-bar.png") right top no-repeat; width:50%; height:18px; position:absolute; left:0px; bottom:0px;}
#header .green-side { background:#85b341 url("../images/green-top-bar.png") left top no-repeat; width:50%; height:18px; position:absolute; right:0px; bottom:0px;}


#header .logo { background:url("../images/logo.png") no-repeat; width:100px; height:50px; padding-left:100px; margin-top:15px; float:left;}
#header .logo .title { font-size:25px; color:#383838; display:block; padding-top:5px; }
#header .logo .sub-title { font-size:13px; text-transform:uppercase; color:#656565;}

#header .search { float:right; margin-top:40px; }
#query { width: 142px; height: 16px; padding: 4px 0px 3px 5px; vertical-align: middle; background: url("../images/search-bg-menu-main.png") repeat-x scroll left top white;  border: 0px none;	float:left;}




/* Main Content Section */
#main-content { padding:15px 0px;}
#red { background:#FFFFFF; padding:10px; width:232px; min-height:580px; float:left; }
#red h1 { font-size:13px; font-weight:bold; color:#4d4f53; padding-bottom:10px;}

/* Classes for main level ul items */
#red ul li a { background: #f0f0f1; text-decoration:none; color: #4d4f53; font-size: 13px; display: block; padding: 7px 10px;	margin-bottom: 1px; font-weight:bold; -webkit-box-shadow: 0 3px 6px -1px #949598;	-moz-box-shadow: 0 3px 6px -1px #949598; box-shadow: 0 3px 6px -1px #949598;	-webkit-transition: background-color .1s linear; -moz-transition: background-color .1s linear;	-ms-transition: background-color .1s linear; -o-transition: background-color .1s linear;	transition: background-color .1s linear; filter: progid:DXImageTransform.Microsoft.Shadow(color='#949598',Direction=150,Strength=3); }
#red ul li a:hover { background: #df2d22; color:#ffffff;}
#red li.expandable a { background: #f0f0f1 url(../images/arrow-dark.png) 212px center no-repeat;}
#red li.collapsable a, #red li.expandable a:hover { background: #df2d22 url(../images/arrow-white.png) 212px center no-repeat; color:#ffffff; }

/* Classes for level1 ul items */
#red .level1 li.expandable a { background: #ffffff url(../images/plus-sign.png) 194px center no-repeat; }
#red .level1 li.collapsable a, #red level1 li.expandable a:hover { background: #df2d22 url(../images/minus-sign.png) 194px center no-repeat; color:#ffffff; }
#red ul.level1 li a:hover { background: #df2d22 !important; color:#ffffff !important;}
#red ul.level1 li.last a{ border-bottom:none;}
#red ul.level1 {margin-top:5px;}
#red ul.level1 li a {background: #ffffff; color:#ffffff; border-bottom:1px dotted #4d4f53; -moz-box-shadow:none !important;
	box-shadow: none !important; color:#4d4f53; font-size: 12px; font-weight:bold; margin-left:20px; padding:5px 10px; margin-bottom:0px;}
#red ul.level1 li.last a{ border-bottom:none;}

/* Classes for level2 ul items */
#red .level2 li a { background: #cccccc; }
#red .level2 li a, #red .level2 li a:hover, #red .level2 li a.selected { background: #333333; color:#ffffff; }
#red ul.level2 li a {background: #cccccc !important; border-bottom:none !important; -moz-box-shadow:none !important; box-shadow: none !important; color:#4d4f53 !important; font-size: 12px; font-weight:bold; margin-left:40px; padding:5px 10px; margin-bottom:1px;}
#red ul.level2 li a:hover {background:#df2d22; }
	





/* Content area CSS classes */
#content-section { background:#FFFFFF; padding:10px 15px; margin-left:15px; width:707px; min-height:580px; float:left;}
#content-section h1 { font-size:19px; color:#4d4f53; padding-bottom:5px; font-weight:normal; }
#content-section p { font-size:15px; line-height:18px; text-align:justify; color:#4d4f53; }
#content-section ul { margin:10px 0px;}
#content-section ul li {background: url(../images/list-arrow.png) left 5px no-repeat; padding-left:10px; margin-left:15px; color:#4d4f53; font-size:12px; line-height:22px; }

#content-section p.image-right {width:440px; float:left; }
#content-section p.description {margin-right:10px; float:left; }
#content-section span.process-heading {font-size: 20px; font-weight: bold; }
#content-section span.screen-heading {font-size: 17px; font-weight: bold; }
#content-section span.button {font-size: 15px; font-weight: bold; }

.img-cont {text-align:right; margin-left:10px; }


.clear { clear:both;}
