﻿<p class="description">
    <span class="process-heading">Arrival registration:</span><br />
    <br />
    Arrival Registration is for registering shelf locations on goods in order to make it easier to find when it
    needs to be found.It can only be used by FOT user with role HDH- or a PO/ PIB.
</p>
<div class="clear" style="width: 100%; height: 20px"></div>
<p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
    This process will start when user will click on "Arrival Registration" from Goods Menu. 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ArrivalRegistration/ArrivalRegistrationGoodsMenu.png" />
</div>
<div class="clear" style="width: 100%; height: 20px"></div>
<p class="image-right">
    <span class = "screen-heading">Scan or enter shelf :</span><br />
    <br />
    
    When user click on "Arrival registration" in the "Goods" menu, then this screen
    will show where user can perform following actions.<br /><br/>
    1) If user will scan or enter a shelf id, and if validates successfully then that shelf will activate and user will be moved to next screen, where he will be able to scan consignment item or can activate another shelf.<br /><br/>
    2) If user scan or enter shelf id which does not match's the pattern of shelf id then an error message saying that invalid shelf id will display.<br /><br/>
    <br/>
    This screen is having following buttons.
    <br/>
    <br/>
    1) <span class = "button">OK:</span> If user will enter shelf using hardware key board and presses "Ok" button then it will behave similar to point-1.<br /><br />
    2) <span class = "button">Back:</span> If user will press "Back" button then he will be redirected back to goods menu.<br /><br/>
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ArrivalRegistration/ArrivalRegistrationScanShelf.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Scan/enter shelf or consignment item:</span><br />
    <br />
    As soon as a new shelf will activate user will be on this screen, here user can perform following actions.<br /><br/>
    1) If user will scan/enter consignment item, then it will register that consignment item for the current activated shelf.<br /><br/>
    2) If the user will scan/enter shelf id, and if vaidates successfully then that shelf will activate and further scanning of consignment
    items will register into currently activated shelf.<br/><br/>
    3) If the user will scan/enter consignment item which is already scanned then if will open deviation menu.<br/><br/>
    4) 
    <br/>
    This screen is having following buttons.
    <br/>
    <br/>
    1) <span class = "button">Back:</span> If user will click on "Back" button then he will be redirected back to goods menu.<br/><br />
    2) <span class = "button">Deviation:</span> If user will click on the "Deviation" button and user have not scanned any consignment item in currently activated shelf
    then it show warning message saying "Items not scanned".<br /><br />
    3) <span class = "button">Complete:</span> If user will click on complete button then it will finish process of Arival Registration.<br/><br />
    4) <span class = "button">OK:</span><br /> 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ArrivalRegistration/ArrivalRegistrationScanItemOrShelf.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Scanning of valid consignment item/shelf:</span><br />
    <br />
    1) If user will scan/enter valid consignment item then it will register that consignment item and will show message like
    "Item 370713750043854351" is registered into shelf A1234567"<br/><br/>
    2) If user will scan/enter valid shelf id then if vaidates successfully it will show message like "Shelf A1234567 is activated".<br/><br/>
    3) If user will scan/enter valid shelf id which is already activated then if will show warning message like "Shelf already activated".<br/><br/>
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ArrivalRegistration/ArrivalRegistrationScanItem.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Scanning of invalid consignment item/shelf:</span><br />
    <br />
    If the user will scan either consignment item or shelf which does not matchs with required pattern then it will show error message 
    "Illegal barcode. Invalid format or checksum".<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ArrivalRegistration/ArrivalRegistrationIllegalBarcode.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

