﻿<p class="description">
    <span  class="process-heading">Bulk Registration :</span><br />
    <br />
    It is sometimes very time saving not to scan every consignment item in the consignment.
    This is most of all relevant for consignments where we do not have consignment item
    labels on the goods.
    <br /><br/>
    The FOT user counts all consignment items belonging to the consignment, and if the
    number differs from the registered number, he changes the number to the correct
    one and press "OK/Enter" button.
    <br />
    This can be started from Deviation Menu and is enabled in case of Consignment only.
</p>
<!--<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/BulkRegistration/GoodsMenu.jpg" /></div>-->
        <div class="clear" style="width: 100%; height: 20px">
</div>
    <p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
     This process can be started from goods menu by pressing on "Bulk Registratin".
</p>
<img style="height: 299px;float:right;" src="App_Images/Goods/BulkRegistration/GoodsMenu.jpg" />
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Bulk Registration Online:</span><br />
    <br />
    If consignment is scanned online and its information has been fetched from the server,
    they will be shown here in Number of Items. If user do not have same number of items
    available for scanning he can enter the correct number of items available for scanning
    and press Ok.
    <br /><br/>
    Event information will be sent to the server indicating the correct number of items
    for that consignment .
    <br />
    <br />
    <b>Ok </b>- Confirms item count <br/>
    <b>Back </b>- Back to Deviation Menu <br/>
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/BulkRegistration/BulkRegistrationOnline.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Bulk Registration Offline:</span><br />
    <br />
    If consignment is scanned offline he will be needed to enter Number of Items in consignment and items scanned both .
    <br />
    <br/>
    <b>Ok </b>- Confirms item count <br/>
    <b>Back </b>- Back to Deviation Menu <br/>
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/BulkRegistration/BulkRegistrationOffline.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Bulk Registration Confirm</span><br />
    <br />
    If User presses ok after entering the number of items and correct number of items , he will be asked for confirmation about items entered. 
    <br />
    <br/>
    <b>Ok </b>- Confirms that entered count is correct and send information to server <br/>
    <b>Back </b>- Back to Bulk Registration page <br/>
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/BulkRegistration/ConsignmentItemsScanned.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
