﻿<p class="description">
    <span class="process-heading">User Profile :</span><br />
    <br />
   A user can swich between my different ROLES in order to be able to perform work as different ROLE.
</p>
<div class="clear" style="width: 100%; height: 20px"></div>
<p>
<span class = "screen-heading">Process starts from:</span><br />
    This process can be started in two ways:
    <ul>
    <li>Press the "Change Role" button after loggin in to the system</li>
    <li>Press the "Change Profile" button in the setting module and then press "Change Role"</li>
    </ul>
</p>
<div class="clear" style="width: 100%; height: 20px"></div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Change Profile :</span><br />
    <br />
    <br />
    When user logs into the application , its profile information is fetched from the
    server . Based on the Role of the User its profile information is shown on this
    page
    <br />
    <br />
    There are various different roles :
    <br /><br/>
    <b>Driver 1 </b>
    <br />
    <b>Driver 2 </b>
    <br />
    <b>Driver 3 </b>
    <br />
    <b>Hubworker 1</b> <b>Hub worker 2 </b>
    <br />
    <b>Customer PO/ PIB </b>
    <br />
    <b>HDH </b>
    <br /><br/>
    User can change its profile and role from this module .
    <br /><br/>
    <b>Back </b>- Back to previous page
    <br />
    <b>Change Profile </b>- User navigates to change profile page
    <br />
    <b>Ok </b>- Validates Changed profile
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/Driver!Profile.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Driver 1 Profile :</span><br />
    <br />
    <br />
    <b>OrgUnitId </b>- Organisation Id and Name logged in user is associatied with.
    <br />
    <b>Power Unit </b>-
    <br />
    <b>Containment Unit </b>-
    <br />
    <b>Unit Id </b>-
    <br />
    <b>TMS Affiliation </b>- TMS Server logged in user is associated with
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/Driver!Profile.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Driver 2 Profile :</span><br />
    <br />
    <br />
    <b>OrgUnitId </b>- Organisation Id and Name logged in user is associatied with.
    <br />
    <b>RouteId </b>-
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/DRiver2Profile.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Driver 3 Profile :</span><br />
    <br />
    <br />
    <b>OrgUnitId </b>- Organisation Id and Name logged in user is associatied with.
    <br />
    <b>Power unit </b>
    <br />
    <b>TMS Affiliation </b>- TMS Server logged in user is associated with
    <br />
    <b>Phone no </b>- Registered Phone Number 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/ProfileDriver3.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Hub Worker 1 Profile :</span><br />
    <br />
    <br />
    <b>OrgUnitId </b>- Organisation Id and Name logged in user is associatied with.
    <br />
    <b>TMS Affiliation </b>- TMS Server logged in user is associated with
    <br />
    <b>Route Id </b>- Id of Route associated with
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/ProfileHubWorker1.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Hub Worker 2 Profile :</span><br />
    <br />
    <br />
    <b>OrgUnitId </b>- Organisation Id and Name logged in user is associatied with.
    <br />
    <b>TMS Affiliation </b>- TMS Server logged in user is associated with
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/ProfileHubWorker2.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">LandPostBud Profile :</span><br />
    <br />
    <br />
    <b>OrgUnitId </b>- Organisation Id and Name logged in user is associatied with.
    <br />
    <b>Power unit </b>
    <br />
    <b>Containment Unit </b>
    <br />
    <b>UnitId </b>
    <br />
    <b>Postal Code </b>
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/ProfileLandPostBud.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Post Office and Store Profile :</span><br />
    <br />
    <br />
    <b>OrgUnitId </b>- Organisation Id and Name logged in user is associatied with.
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/ProfilePostOfficeAndStore.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Home Delivery Hub Profile :</span><br />
    <br />
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/ProfileHomeDeliveryHub.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Customer Profile :</span><br />
    <br />
    <br />
    <b>OrgUnitId </b>- Organisation Id and Name logged in user is associatied with.
    <br />
    <b>RouteId </b>-It of Route associated with
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/ProfileCustomer.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Change Role :</span><br />
    <br />
    <br />
  User can change role by clicking on change role from the profile page to select the role from available options.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangeProfile/ChangeRoll.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
