﻿<p class="description">
    <span  class="process-heading">Change Product Group :</span><br />
    <br />
    A user in FOT shall be able to change the product group of a consignment in order
    to register the correct product group for the consignment. User can enter this US
    with either double scanning or via Goods Menu. User shall only be able to change
    product group to a group which is permissible according to legal changes set by
    FOT server.
    <br /><br/>
    If user double scans consignment then user will not be shown scanning window as
    validation information would already be available to us from the server during the
    scanning. <br />If user enters via Goods menu he will be shown the scanning screen to
    scan the consignment or consignment item for which product group needs to be changed.
</p>
<!--<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ChangeProductGroup/goodsmenu2.jpg" /></div>-->
    <div class="clear" style="width: 100%; height: 20px">
</div>
    <p class="image-right" style="width:245px;">
    <span class = "screen-heading">Process starts from:</span><br />
      This process can be started from "Correction menu" by pressing  "Change Product Group" button.  
</p>
<img style="height: 299px;float:right;" src="App_Images/Goods/GoodsMenu.png"/>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Change Product Group Scan :</span><br />
    <br />
    If user enters from Goods Menu , he will be shown scanning page where consignment and consignment items shall be scanned . After user scans , its product group will be fetched from the server and legal product group changes will be seen in order to check whether its product group can be changed 
    to other product group. If there are such product groups then they will be shown on next screen
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ChangeProductGroup/ScanItemOrPdf.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Choose Product Group :</span><br />
    <br />
    If user has scanned consignment or consignment item , legal product changes would
    be fetched for the consignments current product group.
    <br />
    If product group cannot be changed to any other product group empty dropdown will
    be shown.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ChangeProductGroup/ChooseProductGroup.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Product Group Changed :</span><br />
    <br />
    If user selects the product group and presses ok then its product group of consignment
    will be changed to the one selected and server will be notified about the change.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ChangeProductGroup/ProductGroupChanged.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
