﻿<p class="description">
    <span  class="process-heading">Change Password :</span><br />
    <br />
    This module enables user to change his password in order to maintain security .
    There are rules about password policy that user needs to follow.<br />
    A password cannot be changed more than once a day
    <br />
    It will not be possible to reuse any of the five last passwords<br />
    The user account will be locked after 3 failed attempts within 30 minutes in offline
    mode.<br />
    Unsuccessful login attempts shall be logged
    <br />
    The length of the password need to be at least 6 characters and the password complexity
    shall be as follows:
    <br />
    Minimum 1 digit
    <br />
    Minimum 1 letter
    <br />
    Minimum 1 letter that is not capital
    <br />
    The same character can occur 2 times maximum
    <br />
    <br />
    <b>Back </b>- Back to Settings Menu
    <br />
    <b>Ok/Enter -</b>- Validates Change Password
</p>

<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class="screen-heading">Process starts from:</span><br />
    The process can be started by pressing "Change Password" button in goods menu
    <br />       
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ChangePassword/ChangePassword.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<b>The password complexity shall be as follows:</b>
    <br /> 
    <ul>
        <li>The length of the password need to be at least 6 characters </li>
        <li>Minimum 1 digit</li>
        <li>Minimum 1 letter</li>
        <li>Minimum 1 letter that is not capital</li>
        <li>The same character can occur 2 times maximum</li>
    </ul>

