﻿<script type="text/javascript" src="js/demo.js"></script>

<script type="text/javascript">
    function loadContent(path) {
            $('#content-section').load(path);
    }
</script>

<h1>
    Modules</h1>
<ul>
    <li><span><a href="#" onclick="loadContent('Introduction.htm')">Introduction</a></span>
    </li>
    <li><span><a href="#" onclick="loadContent('StartupAndLogin.htm')">Login
    </a></span></li>
    <li><span><a href="#" onclick="loadContent('ChangeProfile.htm')">User Profile
    </a></span></li>
    <li><span><a href="#" onclick="loadContent('MainMenu.htm')">Main Menu
    </a></span></li>
    <li style="display:none;"><span><a href="#" onclick="loadContent('OperationLists.htm')">Operation List </a>
    </span></li>
    <li style="display:none;"><span><a href="#" onclick="loadContent('Loading.htm')">Loading</a></span>
    </li>
    <li><span><a href="#" onclick="loadContent('Delivery.htm')">Delivery</a></span>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('DeliveryToCustomerAtPo.htm')">Delivery To
                          customer at PO/PIB</a></span></li>
        </ul>
         <ul class="level1">
            <li><span><a href="#" onclick="loadContent('RegisterTimeConsumption.htm')">Register Time Consumption</a></span></li>
        </ul>
    </li>
    <li style="display:none;"><span><a href="#" onclick="loadContent('Unloading.htm')">Unloading</a></span>
    
    
    
    
    </li>
    <li><span><a href="#">Pickup</a></span>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('DeliveryToPoPibByCustomer.htm')">Delivery
                to post office or PIB by customer</a></span></li>
        </ul>
    </li>
    <li><span><a href="#" onclick="loadContent('Goods.htm')">Goods</a></span>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('GeneralDeviationInProduction.htm')">General
                Deviation in Production</a></span></li>
        </ul>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('OutOfHoldingAtHub.htm')">Out Of Holding
                At Hub</a></span></li>
        </ul>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('PickingFromWareHouse.htm')">PickingFromWareHouse</a></span></li>
        </ul>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('DeliveredToAnotherDriver.htm')">Delivered
                To Another Driver</a></span></li>
        </ul>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('ArrivalRegistration.htm')">Arrival Registration</a></span></li>
        </ul>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('ControlScan.htm')">Control Scan</a></span></li>
        </ul>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('DeliveredToAnotherLocation.htm')">Delivered To Another Location</a></span></li>
        </ul>
    </li>
    <li><span><a href="#" onclick="loadContent('Settings.htm')">Settings</a></span>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('ChangePassword.htm')">Change Password</a></span></li>
            <li><span><a href="#" onclick="loadContent('ChangeProfile.htm')">Change Profile</a></span></li>
            <li style="display:none;"><span><a href="#" onclick="loadContent('TmiSettings.htm')">TMI Settings</a></span></li>
            
        </ul>
    </li>
    <li><span><a href="#" onclick="loadContent('VAS.htm')">VAS</a></span>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('DocShown.htm')">Document Shown</a></span></li>
            <li><span><a href="#" onclick="loadContent('ContractProcessSupport.htm')">Contract Process
                Support</a></span></li>
        </ul>
    </li>
    <li><span><a href="#" onclick="loadContent('Deviation.htm')">Deviation</a></span>
        <ul class="level1">
            <li><span><a href="#" onclick="loadContent('RegisterDamage.htm')">Register Damage</a></span></li>
            <li><span><a href="#" onclick="loadContent('CorrectWeightAndVolume.htm')">Correct Weight
                and Volume </a></span></li>
            <li><span><a href="#" onclick="loadContent('ChangeProductGroup.htm')">Change Product
                Group </a></span></li>
            <li><span><a href="#" onclick="loadContent('Delete.htm')">Delete </a></span></li>
            <li><span><a href="#" onclick="loadContent('RegisterTemperature.htm')">Register Temperature
            </a></span></li>
            <li><span><a href="#" onclick="loadContent('BulkRegistration.htm')">Bulk Registration
            </a></span></li>
            <li><span><a href="#" onclick="loadContent('RegisterTimeConsumption.htm')">Register
                time consuption </a></span></li>
        </ul>
    </li>
</ul>
