﻿<p class="description">
    <span  class="process-heading">Contract Process Support:</span><br />
    <br />
    This US will be triggered for those goods for which Shipment requires that ID papers
    are shown and registered, and that a contract (attached with the consignment item),
    is signed by the consignee.
    <br/><br/>
    <b>Back </b>- Back To VAS <br/>
    <b> No </b>- Navigates to Consignment Refused  <br/>
    <b>Yes </b>- Navigates to Confirm Id Details
</p>

<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Refused :</span><br />
    <br />
    Shipment requires that ID papers are shown and registered, and that a contract (attached
    with the consignment item), is signed by the consignee.
    <br/>
    <br/>
    <b>No </b>- Back to confirmation view 1 <br/>
    <b>Yes </b>- Remove Items and back to VAS 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/77b/Screen02.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Confirm Id Details :</span><br />
    <br />
    On this screen user will enter details of ID papers that are required to deliver
    these goods.
    <br />
    User can check for any of the 4 Id details :
    <br />
    <br />
    <b>Bank id card</b>
    <br />
    <b>Drivers licence</b>
    <br />
    <b>Posten-id card</b>
    <br />
    <b>Passport</b>
    <br />
    User can also scan drivers licence and 2D Barcode and its information will filled in "Id Details" field
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/77b/ConfirmId.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
