﻿<p class="description">
    <span  class="process-heading">Control Scan</span><br />
    <br />
    Control scan (and Track and Trace) is used to check properties of goods.
    <br />
    It is not used to register events or to do any production process. It is just read
    only information retrieved from the back end system.<br />
    <br />
    The different ROLEs have different needs for information. And some information is
    more important for one ROLE than it is for another ROLE. For that, we need to present
    the information in different order. And depending on your ROLE, you want to see
    the most important information on the first page, and the less important information
    on following pages.
</p>

<div class="clear" style="width: 100%; height: 20px">
</div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right" style="width:245px;">
    <span class = "screen-heading">Process starts from:</span><br />
The process can be started when the user presses the "Control Scan" button in "Goods Menu"    
</p>
<img style="height: 299px;float:right;" src="App_Images/Goods/GoodsMenu.png"/>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Information From Server</span><br />
    <br />
  On this screen information fetched from the server will be shown to the user. User shall be able to see information from server . Scanning can be done on this screen also to fetch consignment information .
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ControlScan/ControlScanInformation.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
