﻿<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Delete</span><br />
    <br />
    Double scan any item to come to Correction Menu
    and press Delete button to delete the item 
    </p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/CorrectionMenu/Delete.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;"></span><br />
    <br />
    The item is deleted and you get a delete message.
    </p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/CorrectionMenu/Deleted.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>