﻿<p class="description">
    <span  class="process-heading">Correct Weight And Volume Scan :</span><br />
    <br />
    Driver wants to capture information about weight and volume in order to register
    correct information about the consignment items. User can start Correct Weight and Volume from
    either goods menu or via double scanning.
    <br />
    <br />
    <b>Ok/Enter </b>- Validate entered Barcode
    <br />
    <b>Back </b>- Back to Deviation Menu
    <br />
</p>
<!--<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/CorrectWeightAndVolume/ScanConsignmentItemorNumber.jpg" /></div>
    -->
    <div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right" style="width:245px;">
    <span class = "screen-heading">Process starts from:</span><br />
    This process can be started from "Correction menu" by pressing  "Correct Weight and Volume" button. 
</p>
<img style="height: 299px;float:right;" src="App_Images/Goods/GoodsMenu.png"/>

<div class="clear" style="width: 100%; height: 20px">
</div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Correct Weight And Volume :</span><br />
    <br />
    User will enter the information related to consignment on this page. User will be able to enter Weight , Length , Width and Height of consignment or consignment item for which deviation is being registered.
    <br />
    <br />
    <b>Back </b>- Back to scanning page
    <br />
    <b>New Registration </b>- Will start correct weight and volume for new item
    <br />
    <b>Ok/Enter </b>- Moves to next page to confirm the changes
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/CorrectWeightAndVolume/CorrectWeightOrVolume.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">See Weight And Volume Change :</span><br />
    <br />
    On this screen user can see the information entered by the user from the previous
    screen.
    
    <br /><br/>
    <b>Delete </b>- Deletes the information for consignment
    <br />
    <b>Correct Item </b>- Back to previous page where user can edit information again.
    <br />
    <b>New Registration </b>- Will start correct weight and volume for new item
    <br />
    <b>Ok/Enter </b>- Will save information for the item .
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/CorrectWeightAndVolume/SeeCorrection.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
