﻿<p class="description">
    <span  class="process-heading">Delete</span><br />
    <br />
    Delete option from correction menu is for deleting scanned item . It can be accessed via double scan or Deviation menu.
</p>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
This process can be started in two ways
<div  class="image-right">
<ul>
<li>Double scan an item to open "Correction Menu" and choose "Delete"</li>
<li>Click on "Deviation" to open "Correction Menu" and choose "Delete"</li>
</ol> 
</div>  
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterTimeConsumption/CorrectionMenu.png" /></div>

