﻿<p class="description">
    <span class="process-heading">Delivery To Customer At PO/PiB:</span><br />
    <br />
    In Post office and Post in shop locations, Users with role PO/PiB would require to be able to deliver goods to 
    Customer in special situations like Heavy Traffic. User can deliver goods to User directly through this module .
</p>
<div class="clear" style="width: 100%; height: 20px"></div>
<p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
     This process will start when the user presses the button "Delivery to the customer at PO/PIB" in the "Delivery" menu. 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/MainMenu.jpg" />
</div>
<div class="clear" style="width: 100%; height: 20px"></div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Scan Consignment Item or Delivery Code</span><br />
    <br />
    Users with the role PO/PIB shall be able to use the FOT client to register goods
    delivered to the Customer in LM . But this will be only for goods that has no payment on it. <br />
    User can scan either consignment item or delivery code on this page. Delivery 
    code is 4 letter code which corresponds to consignment item. <br/>
    If User scans anything other than consignment item or delivery code , error message will be shown 
    <br/><br/>
    <b>Back </b>- Will take User to where it came from <br/>
    <b>Ok/Enter </b>- If more than 1 item is scanned moves to reconcilliation page.
    
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Delivery/DeliveryToCustomerAtPO/ScanConsignmentItemOrDeliveryCode.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Registered:</span><br /><br />
    If user scans or enter consignment item or delivery code , it will be registered and locally . User and scan any number of delivery code or consignment items . After user is finished adding items , he will press ok/enter button and will be moved to reconcilliation page where
    he can review all the items he has scanned.
    <br/>
    <br/>
    <b>Reconcilliation </b> - Moves to reconcilliation page where all scanned items are registered
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Delivery/DeliveryToCustomerAtPO/ConsignmentItemRegistered.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Reconcilliation View :</span><br /><br />
    This page will list all the items or delivery code that has been entered or scanned . User can select item and see its details.
    If the validation from server has returned shelf location from the server it would be placed under the Place Id.
    <br/> <br/>
    <b>Back </b>- Moves to Scanning page <br/>
    <b>Details </b>- Shows the details of selected item on the next screen <br/>
    <b>Ok/Enter </b>- Open up Signature view if more than one item is in reconcilliation view.
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Delivery/DeliveryToCustomerAtPO/Reconcilliation.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Item Details :</span><br /><br />
    This page will list the details of consignemnt item recieved from the server and list them for user. <br/>
    User can also delete the scanned item from here .<br/>
    <br/>
    <b>Back </b>- Moves to reconcilliation page <br/>
    <b>Delete </b>- User is directed to confirm deletion page
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Delivery/DeliveryToCustomerAtPO/ConsignmentDetails.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
    <p class="image-right">
        <span style="font-size: 17px; font-weight: bold;">Consignment Item Confirm Delete:</span><br /><br />
        User will be prompted to confirm the deletion of the selected item from the delivery list . If user confirms this item will be removed from the local list of items to deliver.
        <br/>
        <b>Back </b>- Back to Details page <br/>
        <b>Ok/Enter </b>- Deletes the item and opens Reconcilliation View
    </p>
    <div class="img-cont">
        <img style="width: 244px; height: 299px" src="App_Images/Delivery/DeliveryToCustomerAtPO/ConfirmDelete.jpg" /></div>
    <div class="clear" style="width: 100%; height: 20px">
    </div>
    <p class="image-right">
        <span style="font-size: 17px; font-weight: bold;">Consignment Item Deleted:</span><br /><br />
      When user confirms the deletion of item he is taken to reconcilliation with message that item is deleted from local list .
    </p>
    <div class="img-cont">
        <img style="width: 244px; height: 299px" src="App_Images/Delivery/DeliveryToCustomerAtPO/ConsignmentItemDeleted.jpg" /></div>
    <div class="clear" style="width: 100%; height: 20px">
    </div>
    <p class="image-right">
        <span style="font-size: 17px; font-weight: bold;">Signature:</span><br /><br />
        If User pressed Ok/Enter button on the reconcilliation view and there are one or more than one item on reconcilliation then he will be taken to signature screen and on successful completion on signature flow items would be registered as delivered.
        <br/><br/>
        <b>Back </b>- Back to reconcilliation page <br/>
        <b>Erase </b>- Clears data from signature  <br/>
        <b>Ok\Enter </b>- Completes the Process and moves back to where it started from
    </p>
    <div class="img-cont">
        <img style="width: 244px; height: 299px" src="App_Images/Delivery/DeliveryToCustomerAtPO/Signature.jpg" /></div>
    <div class="clear" style="width: 100%; height: 20px">
    </div>
