﻿<p class="description">
    <span class="process-heading">Delivery to post office or PIB by
        customer :</span><br />
    <br />
    Users with the role PO/PIB shall be able to use the FOT client to register goods
    delivered to the Post office or Post in shop.
    <br />

</p>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class="screen-heading">Process starts from:</span><br />
    This process will start when the user press the button "Handed in by customer" in
    the "Pickup" menu.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/ArrivalRegistration/ArrivalRegistrationGoodsMenu.png" />
</div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Handed in Post Office:</span><br />
    <br />
    If user scans of enter consignment item , it will be registered as handed at Post
    Office. <br />
    <br/>
    1) If user will scan or enter Consignment Item, and if validates successfully then message for successfull registration will come.<br /><br/>
    2) If user will scan or enter Consignment Item which does not match's the pattern of Consignment Item then an error message saying that invalid barcode will display.<br /><br/>
    <br/>
    <br />
    <b>Back </b>- Completes US and moves back to main menu
    <br />
    <b>Complete </b>- Completes this process and back to main menu
</p>
<br />
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Pickup/DeliveryToPoByCustomer.jpg" /></div>
<br />

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Item Scanned :</span><br />
    <br />
   On successful scanning of the item the message will be shown.
    
</p>
<div class="img-cont" style="float: right;">
    <img style="width: 244px; height: 299px" src="App_Images/Pickup/DeliveryHanded.jpg" /></div>
<br />
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Item Not Scanned :</span><br />
    <br />
    Only Consignment Item can be scanned in this Module. If anything other than Consignment
    Item is scanned then User will be prompted to scan only consignment item.
    <br />
    <br />
    <b>Complete </b>- Completes this process and back to main menu
</p>
<br />
<br />
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Pickup/ConsignmentNotScanned.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
