
                    <p class="description">
                    <span class="process-heading">Delivery :</span>
                    <br /><br />This module is for the user to register goods as delivered to the customer. If there are incompleted delivery operations in the recieved operation list , they will shown initially. If there aren't any incomplete delivery operation in operation list or load list delivery 
                    process will start without planned goods.
                    </p>
                    
                    <div class="clear" style="width: 100%; height: 20px"></div>
<p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
    This process can be started by pressing the "Delivery" button on "Main Menu"
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/MainMenuDriver1.png " />
</div>
<div class="clear" style="width: 100%; height: 20px"></div>
                    
                     <p class="image-right"><span style="font-size: 17px;font-weight: bold;">Scan Delivery :</span><br /><br />Clicking on the scan button will initiate the delivery process. User can scan a unpanned consignment or consignment item which will be saved in local cache and will be sent to the server.
                     There are 4 different buttons : <br />
                     1). Attempted Delivery - Will initiate attempted delivery if consignment could not be delivered due to some reason.<br />
                     2). Reconcilliation - Will show all the items handled so far from local cache.<br />
                     3). Ok - Moves to next screen <br />
                     4). Back - Navigate to previous form.<br />
                     
                     
                     
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px"  src="App_Images/Delivery/Delivery_ScanConsignment.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                    
                     <p class="image-right"><span style="font-size: 17px;font-weight: bold;">Delivery Verify PT and TE :</span><br /><br />If user scans a consignment or consignment item that has not yet been handled in the process then verify package type and transport equipment will be shown .User can add package types and transport equipments from the available list 
                     and also enter its count. There are 4 different buttons on this screen : <br />
                     1). Add transport equipment - User can add TE from list<br />
                     2). Add package type - User can add PT from the list of PT available<br />
                     3). Back - Aborts and moves to scanning GUI. <br />
                     4). Ok/Enter - Navigates to goods handled 
                     
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px"  src="App_Images/Delivery/Delivery_VerifyPTandTE.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                    
                     <p class="image-right"><span style="font-size: 17px;font-weight: bold;">Delivery Consignment Scanned :</span><br /><br />Consignment is registered as delivered after verifying Package Type and Transport Equipment.
                     There are 4 buttons on this screen :<br />
                     1). Attempted Delivery - Will initiate attempted delivery if consignment could not be delivered due to some reason.<br />
                     2). Reconcilliation - Will show all the items handled so far from local cache.<br />
                     3). Ok - Moves to next screen <br />
                     4). Back - Navigate to previous form.<br />
                     
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px"  src="App_Images/Delivery/Delivery_ConsignmentScanned.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                    
                     <p class="image-right"><span style="font-size: 17px;font-weight: bold;">Delivery Goods Handled :</span><br /><br />Clicking on Reconcilliation will open goods handled page and will list all the goods handled so far.
                     There are 6 buttons for navigation : <br />
                     1). Details - Shows details of currently selected operation.<br />
                     2).Deviation - Shows correction menu to alter any previously entered information.<br />
                     3). Delete - Removes selected item if unplanned. <br />
                     4). Back - Navigates to previous menu.<br />
                     5). Items- Shows the number of consignment items for selected consignment.<br />
                     6). Ok - Navigates to Signature form. <br />
                     
                     
                     
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px"  src="App_Images/Delivery/Delivery_goodshandled.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                    
                       <p class="image-right"><span style="font-size: 17px;font-weight: bold;">Delivery Customer Information:</span><br /><br /> User can enter reciepients details(name and signature) as a confirmation for delivered goods. 
                       User Name should be between 2 to 28 characters and signature should not be too small. When valid name and signature are entered event si sent to the server.
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px" src="App_Images/Delivery/Delivery_CustomerInfo.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                    
                    