﻿<p class="description">
    <span class="process-heading">Delivered To Another Location:</span><br />
    <br />
    A driver who is driving a distribution truck sometimes needs to deliver his goods
    to another location (not to customer). For instance if the receipient of the goods
    was not there. There are different business rules for different goods. For instance
    for a "business door-to-door" consignment, if the receipient was not there after
    the second delivery attempt, then the consignment shall be delivered to the nearest
    post office or post in shop.
</p>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class="screen-heading">Process starts from:</span><br />
    This process will start when user will click on "Delivered To Another Location"
    from Goods Menu.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToAnotherLocation/GoodsMenu.jpg" />
</div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class="screen-heading">Scan or enter Location Id :</span><br />
    <br />
    When user click on "Delivered To Another Location" in the "Goods" menu, then this
    screen will show where user can perform following actions.<br />
    <br />
    1) If user will scan or enter a location Id, and if validates successfully then
    location would be stored and user will be moved to next screen, where he will be
    able to scan consignment item or load carrier and also will be shown location name
    that has been scanned<br />
    <br />
    2) If user scan or enter location Id which does not match the format and list of
    valid location ids synchronized on Device then an error message saying that invalid
    location id will display.<br />
    <br />
    <br />
    This screen is having following buttons.
    <br />
    <br />
    1) <span class="button">OK:</span> If user will enter location id using hardware
    key board and presses "Ok" button then it will behave similar to point-1.<br />
    <br />
    2) <span class="button">Back:</span> If user will press "Back" button then he will
    be redirected back to goods menu.<br />
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToAnotherLocation/scanConsignmentItem.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class="screen-heading">Scan/enter consignment item or logical load carrier:</span><br />
    <br />
    As soon as location id is entered user will be on this screen, here user can perform
    following actions.<br />
    <br />
    1) If user will scan/enter consignment item or logical load carrier, then it will
    registered for delivery.<br />
    <br />
    2) If the user will scan/enter consignment item which is already scanned then if
    will open deviation menu.<br />
    <br />
    3) If user has scanned any item or load carrier , back button will disable and user
    cannot move back to change location id
    <br />
    <br />
    <br />
    This screen is having following buttons.
    <br />
    <br />
    1) <span class="button">Back:</span> If user will click on "Back" button then he
    will be redirected back to goods menu.<br />
    <br />
    2) <span class="button">Deviation:</span> If user will click on the "Deviation"
    button and user have not scanned any consignment item in currently activated shelf
    then it show warning message saying "Items not scanned".<br />
    <br />
    3) <span class="button">Reconcilliation:</span> Opens the reconcilliation page to
    display already scanned items.<br />
    <br />
    4) <span class="button">OK/Enter:</span><br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToAnotherLocation/scanConsignmentItem.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class="screen-heading">Scanning of valid consignment item/ load carrier:</span><br />
    <br />
    1) If user will scan/enter valid consignment item or load carrier then it will register
    that consignment item and will show message like "Item 370713750043854351" unloaded
    "<br />
    <br />
    2) If user will scan/enter valid consignment item id which is already scanned then
    if will open deviation menu.<br />
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToAnotherLocation/OnlineItemUnloaded.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class="screen-heading">Scanning of invalid consignment item/load carrier:</span><br />
    <br />
    If the user will scan either consignment item or shelf which does not matchs with
    required pattern then it will show error message "Illegal barcode. Invalid format
    or checksum".<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToAnotherLocation/IllegalBArcode.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class="screen-heading">Reconcilliation:</span><br />
    <br />
    If the user will click on Ok/Enter button or Reconcilliation button on scanning
    page , he will be taken to reconcilliation view where all the consignment items
    and logical load carrier scanned will be listed. .<br />
    <br />
    This screen is having following buttons.
    <br />
    <br />
    1) <span class="button">Back:</span> If user will click on "Back" button then he
    will be redirected back to goods menu.<br />
    <br />
    2) <span class="button">Details:</span> User will be taken to details page showing
    details of selected items.<br />
    <br />
    3) <span class="button">OK/Enter:</span> User will be taken to Signature page if
    there are more than one items in reconcilliation<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToAnotherLocation/Reconcilliation.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
