﻿
<p class="description">
    <span  class="process-heading">Delivered to another driver or subcontractor :</span><br />
    <br />
    A driver in FOT shall be able to register goods as delivered to another driver or a subcontractor in order to turn over the responsibility for the goods.
    User can start this User Story from Goods Menu by clicking on Delivered to sub-contracter/driver option.
    <br/>
    
    <br />
    
   
</p>
<!--<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToSubcontractor/GoodsMenu.jpg" /></div>-->
<div class="clear" style="width: 100%; height: 20px">
</div>

<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right"  style="width:245px;">
    <span class = "screen-heading">Process starts from:</span><br />
    This process will start FROM the "Goods menu" the user press "Delivered to another location". 
    Or from the operation list the user press the "Returned delivery" (RD) operation (1r Returned delivery operation).
</p>
<img style="height: 299px;float:right;" src="App_Images/Goods/GoodsMenu.png"/>
<div class="clear" style="width: 100%; height: 20px">
</div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Scan Barcode:</span><br />
    <br />
    User can scan or enter consignment or consignment item on this screen . 
    <br/>
    <br/>
    <b>Back</b> - Back to Goods Menu <br/>
    <b>Reconcilliation </b> - Reconcilliation View <br/>
    <b>Ok/Enter</b> - 
    
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToSubcontractor/ScanBarcode.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Barcode Scanned :</span><br />
    <br />
If user scans or enters valid consignment or consignment items then information about it is fetched from the server. This information is stored locally in order for later use . 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToSubcontractor/ConsignmentScanned.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Reconcilliation :</span><br />
    <br />
    All the consignments and consignment items scanned previously will be listed in reconcilliation view .
    <br/>
    <br/>
    <b>Items </b>- Display consignment items in selected consignment <br/>
    <b>Deviation </b>- Will open deviation menu to register deviation on selected item <br/>
    <b>Back </b>- Back to scanning page <br/>
    <b>Details </b>- Details of selected item like consignee , consignor information <br/>
    <b> Ok/Enter </b>- Opens Signature
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToSubcontractor/Reconcilliation.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Signature :</span><br />
    <br />
    When Ok/Enter button on reconcilliation is clicked and there are 1 or more consignments , signature screen would open in order to document the Delivery.
    <br/>
    <br/>
    <b>Back</b> - Back to Reconcilliation <br/>
    <b>Erase </b>- Clears Signature field <br/>
    <b>Ok </b>- Completes User Story
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/DeliveredToSubcontractor/Reconcilliation.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>