﻿<p class="description">
    <span class="process-heading">Register Damage :</span><br />
    <br />
    When user want to delete locally scanned consignment or consignment item , he can do so via Deviation Menu .
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Delete/Delete.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
