<p class="description">
    <span  class="process-heading">Deviation Menu :</span><br />
    <br />
    Clicking on Deviation Menu from Reconcilliation Screen when consignment is selected
    will open Deviation Menu for that consignment which will enable correction for previously
    scanned items.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_Deviation.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Register Damage:</span><br />
    <br />
    This screen will register damage information for the consignment. It will include
    basic information related to damage like Type, Cause , Measure and also a comment
    section to add some additional information about the damage.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_RegisterDamage.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Damaged Information:</span><br />
    <br />
    Information entered by user on previous screen will be shown here . User can also take pictures of damaged consignment  
    <b>Take Picture </b>: This button will enable user to take picture of damaged consignment,
    along with other information about the damage.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_DamagedConsignment.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Damaged User Signature
        :</span><br />
    <br />
    This screen process the name and signature of the user registering the damage process. <br/>
    
    <b>Cancel</b> - Returns to previous screen<br />
    <b>Erase</b> - Will erase Signature <b> <br />
    Ok/Enter</b> - Will complete the damage consignment
    process
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_DamagedConsignmentSign.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<div class="clear">
</div>

