﻿<p class="description">
    <span  class="process-heading">Doc shown Vinmonopolet :</span><br />
    <br />
    If the product to deliver consumable alcohol and there are rules to follow the restriction
    on age and physical condition of consignee this process needs to be started to follow
    the guidlines from Vinmonopolet.
    <br />
    This page reminds the user that consignment to deliver contains alcohol and consignee
    verification is required before delivering the consignment.
    <br /><br/>
    <b>Yes </b>- Check id papers to confirm age
    <br />
    <b>No </b>- Opens attempted delivery
    <br />
    <b>Cancel </b>- Moves to previous page where it is called from
</p>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Doc shown Vinmonopolet :</span><br />
    <br />
    User will confirm the consignee age and select one the following options :
    <br />
    <br />
    <b>Too Young </b>- Consignee was too young to deliver consignment
    <br />
    <b>Below 25 </b>- Consignee was below the age of 25
    <br />
    <b>Above 25 </b>- Consignee was above 25
    <br /><br/>
    If user selects Below 25 or Above 25 , user is taken back to VAS Matrix and consignment
    is registered as delivered.
    <br />
    In case of Too Young Attempted Delivery will be opened.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/77d/VerifyAge.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Doc shown Vinmonopolet :</span><br />
    <br />
    If Consignee is too young , consignment will not be delivered to Consignee and attempted delivery will open.
    User will enter the cause, measure and comments for failing to deliver the consignment.
    <br/><br/>
    <b>Back </b>- Back to previous page
    <b>Ok </b>- Completes the US and attempted delivery is registered
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/77d/AtteptedDelivered.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
