﻿<p class="description">
    <span  class="process-heading">Execute Linking :</span><br />
    <br /> User can register consignment information through this in the production process. <br/>
    In this story we first scan the consignment, and next we scan all the consignment items that belongs into that consignment.
    Execute Linking can be opened from Goods Menu.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ExecuteLinking/GoodsMenu.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Scan Consignment :</span><br />
    <br />
    User can scan either Consignment Number or PDF417 on this screen . This will be consignment for which we need to connect other consignment items.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ExecuteLinking/ScanConsignment.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Scanned Invalid Format :</span><br />
    <br />
    If user scan or enters other than consignment number or PDF417 then he will not proceed further and will be prompted to enter valid format.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ExecuteLinking/scanError.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Scanned :</span><br />
    <br />
    If user scans consignment or PDF417 successfully , he can now scan consignment items which will be connected to the consignment.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ExecuteLinking/ConsignmentScanned.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Item Connected :</span><br />
    <br />
    When user scan consignment items then will be connected to the consignment and same information is sent to server.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/ExecuteLinking/ItemConnected.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
