﻿<p class="description">
    <span class="process-heading">General deviation in production :</span><br />
    <br />
    General deviation provides user a friendly/simple functionality to register a "deviation"
    on consignment item. As a user I want to register a general deviation in the production
    in order to register that some discrepancy has occured on the consignment item.This process
    can only be used by user with role HDH,PO/PIB,Landpostbud,Hub worker1 and Driver 2 only.
</p>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
     The process will start when the user is in the "Goods menu" and choose "General
    Deviation", or double-scan the consignment item in the scanning process
    and choose "General Deviation" from the deviation(correction) menu. 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/GeneralDeviation/GeneralDeviationGoodsMenu.png" /></div>
    div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Search or Select Reason :</span><br />
    <br />
    This is the first screen after clicking the General Deviations option from the Goods
    menu.The screen will perform following tasks.<br /><br/>
 1)Here will get the possible reasons list.<br />
    2)From the reasons list user can select or search the reason for his discrepancy.<br />
    3)OK button will only be enable when there would be a selected item from list.<br/>
    <br />
    The screen is heaving following buttons.<br />
    <br />
    1)<b>OK :</b> By pressing ok button next screen will display to select actions.<br />
    2)<b>Back :</b>BY pressing back button user will redirect back to Goods menu.<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/GeneralDeviation/EnterOrSearchReason.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Search or Select Action:</span><br />
    <br />
    This screen will display after the selecting the reason for discrepancy.The tasks
    performed on this screen as follows<br />
    1)Here will get the possible actions according to the selected reasons.<br />
    2)User can search or selecet the actions.<br />
    3)2)OK button will only be enable when there would be a selected item from list.<br/>
    <br />
    The screen is heaving following buttons.<br />
    <br />
    1)<b>OK :</b> By pressing ok button user will redirect to next screen where user can enter comments for discrepancy.<br />
    2)<b>Back :</b> pressing back button user will redirect back to select reasons screen.<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/GeneralDeviation/EnterOrSearchAction.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Enter comments:</span><br />
    <br />
    This screen will display after selecting the reson and action.This screen will perform
    following tasks.<br />
    <br />
    1)In this user can check the selected reason and actions  by him.<br/>
    2)User can enter the additionl comments if want.comments will be optional in this screen.
    <br />
    <br />
    The screen is heaving following buttons.<br />
    <br />
    1)<b>OK :</b> By pressing ok button next screen will display to enter screen where
    he scan the consignment item or load carrier.<br />
    2)<b>Back :</b>By pressing back button user will redirect back to previous screeen to select action.<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/GeneralDeviation/ShowDetailReasonActionComments.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Scanning Screen:</span><br />
    <br />
    In this screen user can scan or enter the consignment item and load carrier.This
    screen will perform following tasks.<br />
    <br />
    1)In case of invalid consignment item or load carrier the invalid barcode message
    will display.<br />
    2)In case of scanning valid consignment item and load carrier the count will increase and user will get the information message.<br />
  3)User can check the reason,action and comments added by him in this screen.And user can update any of them by pressing Back button.
    <br />
    The screen is heaving following buttons.<br />
    <br />
    1)<b>Back :</b> By pressing Back button user will redirect to the Select Reason
    screen.<br />
    2)<b>Finish :</b> By pressing the Finish screen General deviations process will
    complete and user will redirect to the main menu.<br />
    3)<b>Ok :</b>By pressing Ok button it accept the number enterd in the input
    box as a scanning input and perform same process.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/GeneralDeviation/GeeneralDeviationScanning.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Correction Menu :</span><br />
    <br />
    This is the another start point of this process.<br /><br/>
    User can add discrepancy of consignment item from correction menu by pressing the Gneral deviation and then select/enter reason,action,comments for the discrepancy.
  <br /><br/>
    The screen is heaving only one button<br /><br/>
     <b>Back :</b> By pressing Back button user will redirect to the previous screen from where he started.
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/GeneralDeviation/GeeneralDeviationCorrectionMenu.png" /></div>
