<p class="description">
    <span  class="process-heading">Goods :</span><br />
    <br />
    Goods module consists of following modules:
    <br />
    <br />
    1). Register Damage<br />
    2).Load List<br />
    3).Remaining goods at hub<br />
    4). Delivery to Subcontractor<br />
    4). Delivery to Subcontractor<br />
    5). Out Of Holding At Hub<br />
</p>
<div class="img-cont">
    <img style="width: 445; height: 299px" src="App_Images/Goods/GoodsMenu.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Register Damage :</span><br />
    <br />
    When user discovers that the goods is damaged he can register information about
    the damage through this page. Damage can be registered for handled goods in order
    to document and und update information on the server.<br />
    <br />
    User will enter the following information codes related to Damage :
    <br />
    1). Damage type
    <br />
    2). Reason code
    <br />
    3).Action code<br />
    4). Comments<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/RegisterDamage.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Register Damage Scan Consignment :</span><br />
    <br />
    After user has entered information codes for registering damage , User will scan
    the consignment for which damage is to be registered. Previously entered Damage
    information will also be shown for the item being scanned.
    <br />
    <br />
    There are four buttons on this screen :
    <br />
    1). New Damage :- Can register new Damage Information
    <br />
    2). Take Picture :- Will take user to GUI to take photo of damaged item.<br />
    3). Back :- Takes user to previous screen.<br />
    4). Ok :- Registers damage for the consignment.<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_RegisterDamage_Scan.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Register Damage Signature:</span><br />
    <br />
    Next user will be taken to Signature page where user will enter name and signature
    . Name should be between 2 to 28 characters. When name and signature is validated
    , damage information is sent to the server and hence damage is successfully registered
    for the consignment.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_RegisterDamage_Signature.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Load List:</span><br />
    <br />
    Load List - Operation List Present
    <br />
    A user in FOT can look at the Load list in order to see consignments and consignment
    items that are loaded for his Power Unit Id.
    <br />
    When operation list in present in PDA user will be asked to use Operation List instead.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_LoadList.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Load List:</span><br />
    <br />
    If operation list is not present , user will be propmpted to enter valid Power Unit
    Id and list will be retrieved from the LM . User can use this list to start operations.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_LoadList_Items.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Remaining Goods At Hub :</span><br />
    <br />
    Remaining Goods At Hub User can register goods as remaining at a hub in order to
    document that goods are still at hub and register cause and action code for goods
    as reason why goods remains in the hub when distribution and line haul truck have
    departed the hub.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_RemainingGoodsAtHub.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Remaining Goods At Hub Verify PT and
        TE :</span><br />
    <br />
    Remaining Goods At Hub Verify PT and TE
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_RemainingGoodsAtHub_PT&TE.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Remaining Goods At Hub Consignment
        Registered :</span><br />
    <br />
    After user have entered Package type and Transport Equipment information consignment
    is registered as remaining at hub and information is sent to server.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_RegisterDamage_ConsignmentRegistered.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Remaining Goods At Hub Goods Handled:</span><br />
    <br />
    Remaining Goods At Hub Goods Handled
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_RegisterDamage_GoodsHandled.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Delivery to SubContractor:</span><br />
    <br />
    Delivery to Subcontractor
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_DeliveryToSubcontractor.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Delivery to SubContractor Verify PT
        and TE:</span><br />
    <br />
    Delivery to Subcontractor Verify PT and TE
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_DeliveryToSubcontractor_PT&TE.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Delivery to SubContractor Consignment
        Scanned </span>
    <br />
    <br />
    User must be able register goods as delivered to another subcontractor or driver
    in order to transfer responsibility.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_DeliveryToSubcontractor_Scan.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Delivery to SubContractor Goods Handled
    </span>
    <br />
    <br />
    This screen will list all the items that have been registered as delivered to subcontractor.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_DeliveryToSubcontractor_GoodsHandled.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Delivery to SubContractor Signature</span><br />
    <br />
    After user have scanned consignment , Recepient will have to acknowledge the delivery
    by entering name and signature.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_DeliveryToSubcontractor_Signature.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

