
                    <h1><b>Introduction</b></h1>
                    <p>This is a user manual intended for all users of the FOT Online Terminal.

This manual describes the functionality, the applications in the system and workflow. It also defines the roles and key concepts. The purpose of the manual is for the user to have an understanding of how the system is structured and works, and how to use it.

The User Guide can be used both as an introduction to the system and as a reference while working with the system.<br/>
.</p>
                    
                     <div class="clear"></div>
                     <div class="img-cont"><img src="App_Images/architecture.png" /></div>
                     <div class="clear"></div>
                     <p><b>Usage of the PreCom Platform</b><br/><br/>
                     The PreCom Platform has a number of built in components that shall be used while performing specific tasks in the application.
                          As this is a mobile solution application , so its important to consider that client may not be always connected to the server. Hence this application is built for offline usage also. Precom ensures guraanteed delivery of messages and enables offline working of functionality.<br/>
                     </p>
               