﻿<h1>
    <b>Loading</b></h1>
<br />
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Loading Menu :</span><br />
    <br />
    There are various buttons on Loading Menu which are shown depending on the User Role : <br/>
    <b>Loading of Line Haul Truck</b> - (Driver1, HubWorker1)<br />
    <b>Loading of Distribution Truck</b> - (Driver1, HubWorker1)<br/>
    <b>Loading of Combination Trip</b> - (Driver1, HubWorker1) <br/>
    <b>Loaded by Customer </b> - (Customer)<br/>
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading/loadingmenu.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

<p class="image-right">
     <span style="font-size: 17px; font-weight: bold;">Loading :</span><br /><br/>
    <b>Purpose</b> - A user in FOT should be able to register goods as loaded in order
    to document the content of a power unit or what was loaded for a given trip on a
    given stop in order for the TMS server to plan accordingly.<br />
    Loading Process can be opened from Main menu or directly from the operation list
    by clicking on scan button. L symbol signifies that the operation is of type Loading
    . Loading module will list all the loading operation received by the User PDA.
    <br />
    <br />
    <b>Back</b> - Navigates user to previous screen.<br />
    <b>Different Stop </b>- It will retrieve the planned trips and stops (planned loading)
    for the given Power Unit Id at user's current location for the previous and coming
    12(configuarable on server) hours. This way user can perform some unplanned activities
    from current location.<br />
    <b>Scan</b> - This will start the scanning of consignments for the loading process.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_List.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Verify Power Unit :</span><br /><br/>
    If there are no Loading Operations in Operation List or all the loading operations
    in Operation List are complete, then the following message will appear and User
    will be prompted for confirm Power Unit Id.
    <br />
    <br />
    After User enters the valid Power Unit Id and presses OK , a request is sent to
    retrieve the planned trips and loading stops for Power Unit Id at user's current
    location for previous and coming 12 hours.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/NoOperationsInOperationList.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">No Planned Stops/Trips :</span><br /><br/>
    If there are no planned trips and loading stops for Power Unit Id for user's current
    location on TMS server , popup will notify user for the same and user will be taken
    to scan loading consignment screen.
    <br />
    If there are planned trips/loading stops for Power Unit Id then user can select
    stop and perform loading operation.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/NoLoadStopTrips.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Scan Consignment :</span><br />
    <br />
    If there is loading operation in operation list , then clicking on Scan button will
    initiate loading process and User will be prompted to Scan or Enter Consignment
    Number to Load. Consignment event will be sent to TMS server about the scanning.<br />
    <br />
    <b>Change Carrier</b> - Change load carrier process will be triggered by clicking
    on this button.
    <br />
    <b>Reconcilliation</b> - Navigates to Reconcilliation window and shows all previously
    scanned consignments.<br />
    <b>Cancel</b> - Will Cancel the Loading process. <b>Ok/Enter</b> - Will validate
    the Entered consignment number.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_scanConsignment.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Reconcilliation :</span>
    <br />
    <br />
    Clicking on Reconcilliation will take user to Goods Handled screen . This screen
    will display all the consignments scanned so far by the user. User can also alter
    information about already scanned consignments.
    <br />
    <b>Details</b> - Opens a new screen showing details for currently selected consignment.<br />
    <b>Back</b> - Navigates to the previous screen.<br />
    <b>Deviation</b> - Will navigate to Deviation Menu where user can alter or add consignment
    information.<br />
    <b>Items</b> - Items within consignment
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_GoodsHandled.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Invalid Barcode :</span><br />
    <br />
    If user enters invalid bar code , Following message appears and user is not allowed
    to proceed further :
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/IllegalBarcode_ScanLoading.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Confirm Item Count :</span><br />
    <br />
    After successful scanning of consignment of type Loading , User will be asked to
    confirm item count for the scanned consignment:
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_ConfirmConsignmentCount.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Add PT and TE :</span><br />
    <br />
    On this screen user can Select Transport Equipment , Package Types and their quantities
    for the scanned consignment. There are 4 buttons on this screen :
    <br />
    <b>Add Transport Equipment</b> - Adds transport equipment for consignment.
    <br />
    <b>Add Package Type</b> - Adds Package type information for consignment.
    <br />
    <b>Back </b>- Navigate to previous page. <b>Ok/Enter</b> - Continue with Loading
    process.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_AddPT&TE.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Consignment Registered :</span><br />
    <br />
    Loading of cosignment is complete. User needs to select at least one Package Type
    and Transport Equipment to proceed.
    <br />
    <b>Reconcilliation </b>- Navigates to reconcilliation menu showing previously scanned
    consignments.<br />
    <b>Chg. Carrier</b>- Starts change carrier process<br />
    <b>Ok/Enter</b>- Continue with the current process.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_RegisteredConsignment.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Deviation Menu :</span><br />
    <br />
    Clicking on Deviation Menu from Reconcilliation Screen when consignment is selected
    will open Deviation Menu for that consignment which will enable correction for previously
    scanned items.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Loading_Deviation.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
