﻿<p class="description">
    <span class="process-heading">Main Menu :</span><br />
    <br />
     <br />
   The first screen the user will see is the login screen. There are two reasons why
    you have to log on with your user name and password .<br /><br />
    Firstly, login with username and password ensure that unauthorized users can not
    access the system. Second, each user has their own profile. Signing ensures then
    that line Terminal opened with the correct user profile and rights devices. . If
    user enters wrong password for more than 3 times his username is blocked by the
    server.
    <br />
    <br />
    The previllages to each user depends on the role. Following are the actions that
    a user can perform depending on his role.
</p>
<div class="clear" style="width: 100%; height: 40px"></div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Main Menu for role PO-PIB and Customer:</span><br />
    <br />
     A user with role PO-PIB or Customer will be able to perform the following actions:
   <div style="float:left; width:455px;">
    <UL>
    <li>Pickup</li>
    <li>Delivery</li>
    <li>Goods</li>
    <li>Logout</li>
    <li>Settings</li>
    </UL>
    <div class="clear" style="width: 100%; height: 20px"></div>
    </div> 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/MainMenu.jpg " /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

<div class="clear" style="width: 100%; height: 40px"></div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Main Menu for role Driver 1:</span><br />
    <br />
     A user with role Driver 1 will be able to perform the following actions:
   <div style="float:left; width:455px;">
    <UL>
    <li>Operationlist</li>
    <li>Pickup</li>
    <li>Unloading</li>
    <li>Loading</li>
    <li>Delivery</li>
    <li>Goods</li>
    <li>Logout</li>
    <li>Settings</li>
    </UL>
    <div class="clear" style="width: 100%; height: 20px"></div>
    </div> 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/MainMenuDriver1.png " /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<div class="clear" style="width: 100%; height: 40px"></div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Main Menu for role Driver 2:</span><br />
    <br />
     A user with role Driver 2 will be able to perform the following actions:
   <div style="float:left; width:455px;">
    <UL>
    <li>Pickup</li>
    <li>Loading</li>
    <li>Delivery</li>
    <li>Goods</li>
    <li>Logout</li>
    <li>Settings</li>
    </UL>
    <div class="clear" style="width: 100%; height: 20px"></div>
    </div> 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/MainMenuDriver2.png " /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>