<p class="description">
    <span class="process-heading">> Operation List</span><br />
    <br />

</p>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Recieve New Operation List</span><br />
    <br />
    Operation List contains the all the operations that a User of FOT has to perform
    for the day. TMS Server defines operations for all the FOT users and sends them
    operation list.
    <br />
    <br />
    There are 4 basic different types of operations :
    <br />
    1). <b>Loading</b> - L
    <br />
    2). <b>Unloading</b> - U
    <br />
    3). <b>Pickup</b> - P
    <br />
    4). <b>Delivery</b> - D
    <br />
    <br />
    New Operation List is recieved from the server as shown. After clicking on OK user
    will be shown with all the operations in the operation list. :
    <br />
</p>
<p class="img-cont">
    <img alt="" src="App_Images/NewOperationlist.jpg" style="width: 240px; height: 320px" /></p>
<div style="clear: both; width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Accept Or Reject Operations</span><br />
    <br />
    User can click OK button and will see operation list as shown. User can view operations
    from the OL and accept/reject operations.Details of each operation can be seen by
    clicking Info button.
    <br />
    <br />
    There are 4 buttons visible on this screen with the functionalities as follows :<br />
    <br />
    <b>Accept</b> - Accepts selected operation .
    <br />
    <b>Reject</b> - Rejects selected operation
    <br />
    <b>Accept All</b> - Accepts all the operations for all the stops
    <br />
    <b>Info</b> - Shows the details for the selected operations
</p>
<p class="img-cont">
    <img alt="" src="App_Images/Operations.jpg" style="width: 240px; height: 320px" /><br />
</p>
<div style="clear: both; width: 100%; height: 20px">
</div>
<br />
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">View Consignment Detail Information</span><br />
    <br />
    If Operation List have a stop with more than one planned operation user can expand
    the stop and the operations associated to the stop by clicking on the Plus icon.
    If user want to see the details of indivisual operation , click on Info button and
    a new screen will be shown with detail of operation. Detail of operation would show
    its Order Number, Package Types and Transport Equipment etc<br />
    <p class="img-cont">
        <img src="App_Images/OperationInfo.jpg" style="width: 240px; height: 320px" />
        <br />
    </p>
    <p class="image-right">
        <span style="font-size: 17px; font-weight: bold;">Summary Operations Accepted or Rejected</span><br />
        <br />
        After user finishes accepting and rejecting the operations from the operation list
        following popup is shown describing the summary of task he had performed.<br />
    </p>
    <p class="img-cont">
        <img src="App_Images/OperationAccepted.jpg" style="width: 240px; height: 320px" />
        <br />
    </p>
    <br />
    <span style="font-size: 17px; font-weight: bold;">Format of Operations List : </span>
    <br />
    <br />
    <br />
    <p>
        <img width="720px" src="App_Images/OperationList_Explained.jpg" /></p>
    <div style="clear: both; width: 100%; height: 20px">
    </div>
    <p class="image-right">
        <span style="font-size: 17px; font-weight: bold;">View Operation List : </span>
        <br />
        <br />
        Once User is done with accepting/rejecting of Operations from Operation List , User
        will be taken to Operation List Module . User can see Operation list from my application
        main menu by clicking on operation list module as shown. Operation list module will
        list all the planned operation which user have accepted and&nbsp; received from
        TM server .&nbsp;<br />
        <br />
        There are 3 different tabs where operation list will be placed. Initially all the
        stops and the operations would be in the Not Completed tab. When user has succesfully
        completed the process for any operation , operation would be moved to Completed
        tab.
        <br />
        <br />
        <b>Not Completed</b> - All Operations not started.
        <br />
        <b>Completed</b> - All Finished Operations.
        <br />
        <b>All</b> - All the operations for the user.<br />
        <br />
        On the bottom pane , There are 6 different buttons :
        <br />
        <br />
        <b>Details</b> - Opens up a new window with all the details for the selected operations.
        <br />
        <b>Unpl. pick</b> - Starts unplanned pickup operation.
        <br />
        <b>Back</b> - Will take user to previous screen.
        <br />
        <b>Scan</b> - Will initiate operation process for selected operations . Could be
        any (Load, Unload, Pickup, Delivery)
        <br />
        If TMS server has new operation for the user and user is currently connected to
        TMS server, TMS will send updated operation list to the User
    </p>
    <p class="img-cont">
        <img src="App_Images/FormOperationList.jpg" style="width: 240px; height: 320px" />
        <span style="text-align: center"></span>
        <br />
        <br />
    </p>
</p>
<p>
    &nbsp;</p>
<div class="clear">
</div>
