﻿<p class="description">
    <span class="process-heading">Out Of Holding At Hub</span><br />
    <br />
    Some goods shall be stored at the HUB until the appointed delivery date to the consignee.
    To make the goods easy to find at the date the delivery shall be done, the hub worker
    shall register the storage of the goods along with the placement-id.
</p>

<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right" style="width:245px;">
    <span class = "screen-heading">Process starts from:</span><br />
    This process can be started from "Goods menu" and then pressing  "Out of holding at HUB" button. 
</p>
<img style="height: 299px;float:right;" src="App_Images/Goods/GoodsMenu.png"/>
<div class="clear" style="width: 100%; height: 20px"></div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Deviation</span><br />
    <br />
    To register that some discrepancy has occured on the consignment or item that is
    scanned.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/OutOfHodingAtHub/Deviation.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right" style="width:265px;">
    <span style="font-size: 17px; font-weight: bold;">Deviation</span><br />
    <br />
    To register that some discrepancy has occured on the consignment or item that is
    scanned.
</p>
<div class="img-cont">
    <img style="width: 445px; height: 299px" src="App_Images/OutOfHodingAtHub/Reconcillation.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Details</span><br />
    <br />
    Click on details button to get details of itmem scanned.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/OutOfHodingAtHub/Details.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Items</span><br />
    <br />
    To see items in a consignment. Select Consignment and click Items button To delete
    current Selected item click Next Button and then delete
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/OutOfHodingAtHub/DeleteItem.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Print</span><br />
    <br />
    Click on print button then select the printer from the list and click Ok button.
    Press Ok buton in next response window to return to Reconcilation menu.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/OutOfHodingAtHub/SelectPrinter.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/OutOfHodingAtHub/PrintSuccessful.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
