﻿<p class="description">
    <span class="process-heading">Out of Shelf - Preparing for Driver :</span><br />
    <br />
    A user with PK/PiB role in FOT should be able to register goods as delivered to a driver in order to turn over the responsebility for the goods.
    It will open from Picking from Warehouse inside the Goods Menu. <br />
    <br/><br/>
</p>
<p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
    This process will start when user will click on "Picking from warehouse" from Goods Menu. 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/PickingFromWareHouse/GoodsMenu.jpg" />
</div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Scan Consignment Item :</span><br /><br/>
    When user click on "Picking from Warehouse" in the "Goods" menu, then this screen
    will show where user can perform following actions.<br /><br/>
    1) If user will scan or enter Consignment Item, and if validates successfully then message for successfull registration will come.<br /><br/>
    2) If user will scan or enter Consignment Item which does not match's the pattern of Consignment Item then an error message saying that invalid barcode will display.<br /><br/>
    <br/>
    This screen is having following buttons.
    <br/>
    <br/>
    1) <span class = "button">Ok:</span> This button will remain disable untill unless user will not scan at least one consignment item. As soon as user will scan consignment item, this button will enable and
    user can complete scanning of consignment items clicking on this button. <br /><br />
    2) <span class = "button">Back:</span> This button will remain enable untill unless user will not scan at least one consignment item. If user will press "Back" button then he will be redirected back to goods menu.<br /><br/>
    3) <span class = "button">Reconciliation:</span> If user will press "reconciliation" button then it will open reconciliation window where user will be
    able to see scanned consignment items.<br /><br/>
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/PickingFromWareHouse/ScanConsignmentItem.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Scanning of valid consignment item:</span><br />
    <br />
    1) If user will scan/enter valid consignment item then it will register that consignment item and will show message like
    "Consignment Item 370713750043854351" is registered"<br/><br/>
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/PickingFromWareHouse/ScanValidConsignmentItem.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Scanning of invalid consignment item:</span><br />
    <br />
    If the user will scan consignment item which does not matchs with required pattern then it will show error message 
    "Illegal barcode. Invalid format or checksum".<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/PickingFromWareHouse/ScanInvalidConsignmentItem.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Reconcilliation:</span><br /><br/>
    This screen will list all the consignment items scanned on the scanning page. It will also list the shelf location of consignment items registered if they were scanned online
    <br/><br/>
    This screen is having following buttons:
    <br/><br/>
    1) <span class = "button">Ok:</span> If user will press "Ok" button then he will be able finish the process.
    This button will remain disable, if user will come on this screen by pressing "Reconcilliation" button from scanning screen.
    Otherwise this button will remain enable and user can finish process by clicking this button.<br /><br/>
    2) <span class = "button">Back:</span> If user will press "Back" button, then user will come back on scanning window.<br /><br/>
    3) <span class = "button">Details:</span> If user will press "Details" button, then he will be able to see details of currently selected consignment item.<br /><br/>
    4) <span class = "button">Delete:</span> If user will press "Delete" button selected consignment item will be deleted from list of consignment items.<br /><br/>
    <b></b>
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/PickingFromWareHouse/Reconcilliation.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Consignment Item Details:</span><br />
    <br />
    This screen lists the details of seleceted consignment item. User can click to Details button on reconcilliation screen in order to see details of selected consignment item .
    <br/>
    <br/>
    This screen is having following buttons:
    <br/><br/>
    1) <span class = "button">Ok:</span> Will remain disable.<br/>
    <br/>
    2) <span class = "button">Back:</span> If user will press "Back" button, then user will come back on reconsilliation window.<br /><br/>
    3) <span class = "button">Details:</span> Will remain disable.<br /><br/>
    4) <span class = "button">Delete:</span> Will remain disable.<br /><br/>
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/PickingFromWareHouse/ItemDetails.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Signature:</span><br />
    <br />
    When user will press on Ok button on reconcilliation page , he would require to enter the signature of driver to whom he will 
    deliver the items. If user enters valid signature and name this process will finish and delivery information will be sent to server , 
    and user will be taken back to where it was called from.
    <br/>
    <br/>
    This screen is having following buttons:
    <br/><br/>
    1) <span class = "button">Back:</span> If user will press "Back" button, then user will come back on reconsilliation window.<br /><br/>
    2) <span class = "button">Erase:</span> If user will press "Erase" button, it will clear the signature field.<br /><br/>
    3) <span class = "button">Ok/Enter:</span> If user will press "Ok" button it will finish the current process.<br /><br/>

</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/PickingFromWareHouse/Signature.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
