﻿<p class="description">
    <span class="process-heading">Register Time Consumption</span><br />
    <br />
    "Register time consumption" on delivery is a function that can be used when a driver is in the
    delivery process and uses more time than expected when handling the delivery. This option is 
    only be available for certain products (1020 and 1988) and related to unique customers.
    <br/>
    To open  "Register time consumption" go to  "corrections menu" (via double 
    scan or deviation button) and choose "Register time consumption" from the menu.
</p>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
    This process starts from the delivery process and user is in the "corrections menu" (via double scan or deviation button) and choose "Register time consumption" from the menu.  
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterTimeConsumption/CorrectionMenu.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Select Time Consumption</span><br />
    <br /> 
    Select the appropriate time slice from the list and press Ok
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterTimeConsumption/SelectTime.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Time Consumption Registered</span><br />
    <br />
    After registering the consumption time you will get the confirmation message. This information will be sent to server indicating your delay and reason for it.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterTimeConsumption/Confirmation.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>