﻿<p class="description">
    <span class="process-heading">Register Temperature :</span><br />
    <br />
    A user in FOT I want to record the temperature of goods in order to register a deviation for the consignment or consignment item. User can register temperature via Deviation Menu or double scan for Consignment and consignment item.
    
</p>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span class = "screen-heading">Process starts from:</span><br />
This process can be started in two ways
<div class="image-right">
<div class="clear" style="width: 100%; height: 20px">
</div>
<ul>
<li>Double scan an item to open "Correction Menu" as shown above and press "Register Temperature"</li>
<li>Click on "Deviation" to open "Correction Menu" as shown above and press "Register Temperature"</li>
</ul>   
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterTemperature/GoodsMenu.jpg" /></div>
</div>

<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Register Temperature  :</span><br />
    <br />
    User can enter the temperature and comments on this screen . Register Temperature information will be sent to server later to register it on Server.
    <br/>
    <b>Ok/Enter </b>- Completes Register Temperature <br/>
    <b>Back </b>- Back to Previous screen <br/>
    <b>Camera </b>- Opens up Camera to click pictures <br/>
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterTemperature/RegisterTemperature.jpg" /></div>

<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Camera :</span><br />
    <br />
    User can click pictures of the goods and send them to server . All the pictures which are clicked will be stored locally and displayed as thimbnails.
    
    <br/>
    <b>Ok/Enter </b>- Completes Register Temperature <br/>
    <b>Back </b>- Back to Previous screen <br/>
    <b>Camera </b>- Opens up Camera to click pictures <br/>
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterTemperature/Camera.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
