﻿<p class="description">
    <span  class="process-heading">Register Alystra DEV</span><br />
    <br />
    Driver 1 with TMS Afilliation ALYST_BEX I want to register 
    Deviation in order to document value added services to TMS Alystra BEX.
    <br />
    To start Click on Add DEV Button
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterAlystraDEV/Start.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Select Reason</span><br />
    <br />
    Select the appropriate reason from the list and press Ok
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterAlystraDEV/SelectReason.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Select Action</span><br />
    <br />
    Select the appropriate Action from the list and press Ok
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterAlystraDEV/SelectReason.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Confirmataion</span><br />
    <br />
    After pressing Ok button you will come to screen showing reason and action pair you have selected.
    <br />
    if you want to select different reason and/or action press back button
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterAlystraDEV/Confirmation.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Back to Register DEV</span><br />
    <br />
    After pressing Ok button in previous screen you will came back to deviation screen,
     giving you the message about your deviation registraion
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/RegisterAlystraDEV/Finish.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>