﻿<p class="description">
    <span  class="process-heading">Register Damage :</span><br />
<br/>
    When coming from Goods Menu user will be shown Goods Menu where Register Damage can be opened from clicking on Register Damage Button. <br/>
    If user has double scanned consignment/consignment item he open Register Damage by clicking on Register Damage from Correction Menu.
    
</p>

<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right" style="width:245px;">
    <span class = "screen-heading">Process starts from:</span><br />
    This process can be started from "Goods menu" or by double scaning any item and then pressing  "Register Damage" button. 
</p>
<img style="height: 299px;float:right;" src="App_Images/Goods/GoodsMenu.png"/>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Register Damage :</span><br />
    <br />
    When user discovers that the goods is damaged he can register information about
    the damage through this page. Damage can be registered for handled goods in order
    to document and und update information on the server.<br />
    <br />
    User will enter the following information codes related to Damage :
    <br />
    1). Damage type
    <br />
    2). Reason code
    <br />
    3).Action code<br />
    4). Comments<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/RegisterDamage.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Register Damage Scan Consignment :</span><br />
    <br />
    After user has entered information codes for registering damage , User will scan
    the consignment for which damage is to be registered. Previously entered Damage
    information will also be shown for the item being scanned.
    <br />
    <br />
    There are four buttons on this screen :
    <br />
    1). New Damage :- Can register new Damage Information
    <br />
    2). Take Picture :- Will take user to GUI to take photo of damaged item.<br />
    3). Back :- Takes user to previous screen.<br />
    4). Ok :- Registers damage for the consignment.<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_RegisterDamage_Scan.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Register Damage Signature:</span><br />
    <br />
    Next user will be taken to Signature page where user will enter name and signature
    . Name should be between 2 to 28 characters. When name and signature is validated
    , damage information is sent to the server and hence damage is successfully registered
    for the consignment.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Goods_RegisterDamage_Signature.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>