<p class="description">
    <span  class="process-heading">Settings Menu :</span><br />
    <br />
    This module helps user to manage FOT Settings. It includes :
    <br />
    <b>Change Password</b>
    <br />
    <b>Change Profile</b>
    <br />
    <b>Change TMS Availability</b>
    <br />
    <b>Change status of whether user is a operation list user or not</b>
    <br />
    <b>Automatic Key Lock</b>
    <br />
    <b>Change LogLevel</b>
    <br />
    <b>GPS Settings</b>
    <br />
    <br/>
    
    <span style="font-size: 17px; font-weight: bold;">Language Options :</span><br />
    <br/>
    User can change the localization by selecting the value from dropdown on Settings Menu . 
    Currently there are 2 options only : <br/>
    <b>en-US</b> <br/>
    <b>no-Norweign</b>
   
    
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Settings/settingmenu1.jpg" />
    <img style="width: 244px; height: 299px" src="App_Images/Settings/settingmenu2.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Change Password :</span><br />
    <br />
    User can change his password on this screen . Password should adhere to password
    policy while changing password.
    <br />
    Password Policy : The length of the password need to be at least 6 characters and
    the password complexity shall be as follows:
    <br />
    Minimum 1 digit<br />
    Minimum 1 letter<br />
    Minimum 1 letter that is not capital<br />
    The same character can occur 2 times maximum<br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Settings/Settings_ChangePassword.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Change Location :</span><br />
    <br />
    This module shows the basic profile from the server or if offline the from the local
    file. Power Unit - Power unit against which user is associated. Operation List is
    fetched from TMS according to this Id.<br />
    OrgUnitId - Department Id with in POSTEN.<br />
    Phone No. - Phone number of User<br />
    TMS affil. - TMS Server user is associated with
    <br />
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Settings/Settings_ChangeLocation.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>

<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">TMS Availability :</span><br />
    <br />
    User can change the settings from this page.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Settings/Settings_TMSAvailability.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">GPS Settings:</span><br />
    <br />
    User can change the GPS settings from this page in order to start/stop sending GPS
    positions to my TMS .
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Settings/Settings_GPSSettings.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
