﻿
                    <p class="description"><span  class="process-heading">Settings :</span><br /><br /> This module helps user to manage FOT settings. It includes : <br/>
                        1). Change Password<br/>
                        2). Change Location <br/>
                        3). TMI Settings <br/>
                        4). TMS Availability <br/>
                        5) GPS Settings
                        
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px" src="App_Images/Settings/Settings.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>


                    <p class="image-right"><span style="font-size: 17px;font-weight: bold;">Change Password :</span><br /><br />User can change his password on this screen . Password should adhere to password policy while changing password. <br/>
                        Password Policy : 
                        The length of the password need to be at least 6 characters and the password complexity shall be as follows: <br/>

     Minimum 1 digit<br/>
    Minimum 1 letter<br/>
    Minimum 1 letter that is not capital<br/>
    The same character can occur 2 times maximum<br/>
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px" src="App_Images/Settings/Settings_ChangePassword.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>   
                
                    <p class="image-right"><span style="font-size: 17px;font-weight: bold;">Change Location :</span><br /><br /> This module shows the basic profile from the server or if offline the from the local file.
                    Power Unit - Power unit against which user is associated. Operation List is fetched from TMS according to this Id.<br/>
                    OrgUnitId - Department Id with in POSTEN.<br/>
                    Phone No. - Phone number of User<br/>
                    TMS affil. - TMS Server user is associated with <br/>
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px"  src="App_Images/Settings/Settings_ChangeLocation.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                
                  <p class="image-right"><span style="font-size: 17px;font-weight: bold;">TMI Settings :</span><br /><br />  The TMI settings will be maintained in the FOT server database. Functionality of FOT application would be dependent on these settings.
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px" src="App_Images/Settings/Settings_TMISettings.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                    
                     <p class="image-right"><span style="font-size: 17px;font-weight: bold;">TMS Availability :</span><br /><br /> User can change the settings from this page.
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px" src="App_Images/Settings/Settings_TMSAvailability.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                    
                      <p class="image-right"><span style="font-size: 17px;font-weight: bold;">GPS Settings:</span><br /><br /> User can change the GPS settings from this page in order to start/stop sending GPS positions to my TMS .
                    </p>
                    
                    <div class="img-cont"><img style="width: 244px;height: 299px" src="App_Images/Settings/Settings_GPSSettings.png" /></div>
                    <div class="clear" style="width: 100%;height: 20px"></div>
                
                
               
