     <h1><b>Login </b></h1><br/>
                    <p class="image-right">The first screen the user will see is the  login screen.

                        There are two reasons why you have to log on with your user name and password .<br/> Firstly, login with username and password ensure that unauthorized users can not access the system. Second, each user has their own profile. Signing ensures then that line Terminal opened with the correct user profile and rights devices.
                        . If user enters wrong password for more than 3 times his username is blocked by the server. <br/><br/>
                        <b>Login</b> - Logins users into the FOT .<br/>
                        <b>Exit</b> - Exits Precom and FOT application.
                        </p>
                    
                    <div class="img-cont"><img src="App_Images/Login.png" style="width: 240px;" /></div>

     <h1><b>Invalid Credentials </b></h1><br/>
                    <p class="image-right">
                    if you give invalid credentials you will get the error message.
                    </p>
                    <div class="img-cont"><img src="App_Images/InvalidCredentials.png" style="width: 240px;" /></div>

 <h1><b>After Successful login </b></h1><br/>
                    <p class="image-right">
                    when you give the correct username and password you will come to this screen.
                    </p>
                    <div class="img-cont"><img src="App_Images/ProfilePage.jpg" style="width: 240px;" /></div>