﻿<p class="description">
    <span  class="process-heading">TMI Settings :</span><br />
    <br />
    The TMI settings will be maintained in the FOT server. Functionality of
    FOT application would be dependent on these settings. <br/>
    <br/>
    These settings will be defined and set by server according to User Role . When user logs in FOT Application these settings will sychronize with
    with the PDA and will be used throughout the application 
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Settings/Settings_TMISettings.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<b>The various TMI settings are as follows:</b>
    <br /> 
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><b><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Setting name</span></b><span
  style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";color:black'><o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border:solid #DDDDDD 1.0pt;
  border-left:none;mso-border-left-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><b><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Description</span></b><span
  style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";color:black'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>CompleteOperationsAtDeparture<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:7.5pt;line-height:13.0pt'><span
  style='font-size:10.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";color:black'>User is in his Operation list, has selected a
  Pickup operation and clicks the &quot;Departure&quot; button.<o:p></o:p></span></p>
  <p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:0in;
  margin-bottom:.0001pt;line-height:13.0pt'><span style='font-size:10.0pt;
  font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  color:black'>Used to trigger the completion of operations and moving of stop
  to Completed tab when driver clicks Departuer button in operation list. If
  set to false the operations will not be set to complete and the stop will not
  be moved to the completed tab when the user clicks the Departure button.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger the
  completion of operations and moving of stop to Completed tab when driver
  clicks Departuer button in operation list. If set to true the operations will
  be set to complete and the stop will be moved to the completed tab when the
  user clicks the Departure button.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>CustomerInfoMandatory&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate the
  level of customer and booking information that will have to be registered for
  an unplanned pickup.&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsBookingNumberRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate that
  the driver has to enter or generate a valid booking number for the pickup.
  (Used for Bring Parcel who need booking number for every pickup they do).<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsConsignmentItemCountVerificationRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate that
  the user will have to manually verify the consinment item count for a
  consignment event. If set to true the planned number of consignment items for
  the consignment will be displayed to the user (if no consignment information
  is not returned from LM the planned consignment item count will be displayed
  as 0) and he will have to verify or update the number. If set to false the LM
  information will not be displayed to the user and the information for package
  types and number of will have to be used. Relevant for all consignment event
  registration.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsConsignmentRegistrationAllowed<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger user
  verification for handling unplanned goods when the operation has planned
  consignments (consignment number is set for one or more of the planned
  consignments in the operation list) and the user scans something that is not
  planned.&nbsp;If set to true the user is alowed to pick up goods that is not
  planned for the selected operation in the operation list. If set to false the
  user is not&nbsp;alowed to pick up goods that is not planned for the selected
  operation in the operation list.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsDamageSignatureRequired&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate
  that&nbsp;the user (driver or hub worker) should sign when he registeres
  damage to goods. If set to true the user will have to sign before the events
  are sent to LM.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsDepartureEventRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate that
  a departure event (TRD) should be sent to the TMS when a driver leaves the
  stop.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsMultipleConsignmentsAllowed<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate that
  the user is alowed to pick up more than one consignment for one pickup
  operation. If set to true the user is alowd to scan more than one consignment
  number for the selected operation and he is also alowed to scan consignment
  items connected to different consignments for the selected operation. If set
  to false the user is not alowd to scan more than one consignment number for
  the selected operation and he is not alowed to scan consignment items
  connected to different consignments for the selected operation.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:12'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsOfflineConsignmentNumberRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>true: means local
  validation of a consignment number before continuing<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:13'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsOnlineConsignmentNumberRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>No: no requirement,
  Yes: required and needs to be online validated, Optional: scan PDF417 US19<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:14'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>No: no requirement,
  Yes: required and needs to be online validated, Optional: scan PDF417 US19<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:15'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsPackageTypeVerificationRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;Trigger that the
  FOT user get asked to register PT and TE.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:16'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:17'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:18'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsPromptForSummaryRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger the
  confirmation that a process is completed before the Actuals Summary (or
  Actuals summary trigger is sent to TMS). If set to true the user will be
  prompted to verify that the process is completed to verify that Actuals
  summary should be sent to the TMS.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:19'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger the
  confirmation that a process is completed before the Actuals Summary (or
  Actuals summary trigger is sent to TMS). If set to false the Actuals summary
  (trigger) will be sent to the TMS without any user interaction.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:20'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsSendingDepartureEventRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger
  sending trip event&nbsp;for departure from stop.&nbsp;If set to true&nbsp;a
  departure from stop event (TRD) will be sent when the last operation for a
  stop is finished.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:21'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger
  sending trip event&nbsp;for departure from stop.&nbsp;If set to true&nbsp;a
  departure from stop event (TRD) will be sent when the last operation for a
  stop is finished.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:22'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsSendingOperationEventFinishedRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger
  sending operation status (Finished) back to TMS. An event will be sent if the
  setting is set to true.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:23'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsSendingOperationStartEventRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate that
  an event should be sent when the user starts executing an operation in his
  operation list. If set to true an event will be sent to TMI (eConnect) every
  time the user starts executing an operation in his operation list.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:24'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsSendingPtOrTeEventRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:25'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:26'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsSendingStopEventArrivedRequire<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate that
  an event should be sent to LM when a driver starts executing an operation
  from his operation list. If set to true an event will be sent to TMI
  (eConnect) for the first operation the user executes at a given stop<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:27'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate that
  an event should be sent to LM when a user starts executing process. If set to
  true an event will be sent to TMI (eConnect) when the process is started if
  TripId and StopId are known.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:28'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsSingleEventVerificationRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to indicate that
  the user has to&nbsp;verify each damage registration separately before
  sending the events to LM. If set to true the user will have to look at and
  verify all deviation events registered and can choose to sign for them
  separately or combined.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:29'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsStopSummaryRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger
  Actuals summary request when appropriate. If true&nbsp;an actuals summary
  trigger (or full messaage) will be sent to the TMS.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:30'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsTransportEquipmentVerificationRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:31'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsUnplannedConsignmentsAllowed<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger user
  verification for handling unplanned goods when the operation has planned
  consignments (consignment number is set for one or more of the planned
  consignments in the operation list) and the user scans something that is not
  planned.&nbsp;If set to true the user is alowed to enter goods that is not
  planned for the selected operation in the operation list. If set to false the
  user is not&nbsp;alowed to enter goods that is not planned for the selected
  operation in the operation list.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:32'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger user
  verification for handling unplanned goods when the operation has planned
  consignments (consignment number is set for one or more of the planned
  consignments in the operation list) and the user scans something that is not
  planned.&nbsp;If set to true the user is alowed to pick up goods that is not
  planned for the selected operation in the operation list. If set to false the
  user is not&nbsp;alowed to pick up goods that is not planned for the selected
  operation in the operation list.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:33'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsValidateStopRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to turn on and
  off validation of stop information between FOT and the TMS (For TM_OTC LM
  will be handling this validation if the value is set to true). If set to true
  the validation request should be sent to TMI (eConnect) and the user should
  not be allowed to execute the stop if the information is not valid.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:34'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsVerificationOfUnplannedConsignmentsRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger user
  verification for handling unplanned goods when the operation has planned
  consignments and the user scans something that is not planned. If set to true
  the user will have to verify that the goods should be registered, even if it
  is not planned. If set to false the goods event will be registered without
  prompting the user to verify.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:35'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger user
  verification for handling unplanned goods when the operation has planned
  consignments (consignment number is set for one or more of the planned
  consignments in the operation list) and the user scans something that is not
  planned. If set to true the user is alowed to register production events for
  goods that is not planned for the selected operation in the operation list.
  If set to false the user is not alowed to register production events for
  goods that is not planned for the selected operation in the operation list.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:36'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>UpdatePackageTypeEventCode<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>The event code for
  UpdatePackageType is set dependent on the production process.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:37'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:38'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>IsSendingConsignmentEventRequired<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger a
  separate event for Package type and Transport equipment registration. If set
  to false the PT/TE information should be entered in the event for the
  triggering production process. If set to true a separate PT/TE event (A2)
  should be sent.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:39;mso-yfti-lastrow:yes'>
  <td width=193 valign=top style='width:144.75pt;border:solid #DDDDDD 1.0pt;
  border-top:none;mso-border-top-alt:solid #DDDDDD .75pt;mso-border-alt:solid #DDDDDD .75pt;
  padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=367 valign=top style='width:275.25pt;border-top:none;border-left:
  none;border-bottom:solid #DDDDDD 1.0pt;border-right:solid #DDDDDD 1.0pt;
  mso-border-top-alt:solid #DDDDDD .75pt;mso-border-left-alt:solid #DDDDDD .75pt;
  mso-border-alt:solid #DDDDDD .75pt;padding:3.75pt 5.25pt 3.75pt 5.25pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  13.0pt'><span style='font-size:10.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Used to trigger a
  separate event for Package type and Transport equipment registration. If set
  to false the PT/TE information should be entered in the event for the
  triggering production process. If set to true a separate PT/TE event (A2)
  should be sent.<o:p></o:p></span></p>
  </td>
 </tr>
</table>