﻿<p class="description">
    <span  class="process-heading">Unloading Menu :</span><br />
    <br />
    Unloading Menu has multiple options which are shown depending on User Role :
    <br />
    <br />
    <b>Unloading of pick up truck</b> - (Driver1, HubWorker1)<br />
    <b>Unloading of line haul truck</b> - (Driver1, HubWorker1)<br />
    <b>Not delivered</b> - (Driver1, HubWorker1)<br />
    <b>In Terminal</b> - HubWorker1
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Unloading/unloadingmenu.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Unloading :</span><br />
    <br />
    Unloading process can be started from operation list of main menu. User of FOT can
    register goods as unloaded for a given trip on a particular stop. This data would
    be required by LM for further planning and operations. However unloading is not
    allowed if tripId and stopId is not known.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Unloading/Unloading.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Unloading Scan Consignment :</span><br />
    <br />
    User can scan consignment or consignment item for unloading on this page.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Unloading/Unloading_ScanConsignment.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Unloading Confirm Consignment Item
        count :</span><br />
    <br />
    If user has TMI Setting ConsignmentCountVerificationRequired set to true then, after
    scanning a consignment user is prompted to verify item count. It will be prefilled
    with item count fetched from the server . However, FOT user can edit it to put the
    correct value if it was not correct.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Unloading/Unloading_ConfirmItemCount.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Unloading Consignment Scanned :</span><br />
    <br />
    Consignment information is fetched from the server and scanning message is shown to user.
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Unloading/Unloading_ConsignmentScanned.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Unloading Goods Handled :</span><br />
    <br />
    On this screen user see all the consignment and consigment items scanned by him
    so far in this process.
    <br />
    <b>Details </b>- Details of select consignment
    <br />
    <b>Deviation </b>- Will open Deviation menu to register any deviation on selected
    item
    <br />
    <b>Delete </b>- Delete selected item
    <br />
    <b>Back </b>- Back to Scanning Screen
    <br />
    <b>Items </b>- Consignment Items in Consignment
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Unloading/Unloading_GoodsHandled.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Unloading Consignment Details :</span><br />
    <br />
    User will be able to see the details of indivisual consignment and consignment items from reconcilliaiton .
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Unloading/Unloading_Details.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
<p class="image-right">
    <span style="font-size: 17px; font-weight: bold;">Unloading Deviation :</span><br />
    <br />
    User can change information entered for previously scanned consignment
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Unloading/Unloading_Deviation.png" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
