﻿<p class="description">
    <span class="process-heading">VAS :</span><br />
    <br />
    The VAS Matrix is a component ment for work process support.
    <br />
    When working in each of these processes, the VAS Matrix shall provide process support. <br />

The process support shall be based on a set of criterias that must be fulfilled in order to trigger a process support:<br/>

    The work process<br/>
    The FOT user ROLE<br/>
    The FOT user TMS AFILLIATION<br/>
    Properties on the scanned goods<br/>
    The current date and time<br/>

The type of support delivered by the VAS Matrix is:<br/>

    Nothing shall happen: this is the most normal case. Most scans pass through the VAS Matrix without any action.<br/>
    Display warning message to the user<br/>
    Display a warning dialogue message with option to stop or to continue<br/>
    Display an error dialogue message<br/>
    Trigger a sub-process to collect data<br/>
   
</p>
<div class="img-cont">
    <img style="width: 244px; height: 299px" src="App_Images/Goods/Delete/Delete.jpg" /></div>
<div class="clear" style="width: 100%; height: 20px">
</div>
